body {
    background: rgba(0,0,0.9);
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header::after {
   content: '';
   height: 100vh;
   width: 100%;
   background-image: url(../img/header_bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: block;
   filter: blur(10px);
   -webkit-filter: blur(10px);
  
}

.header:hover::after  {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header:hover.header-content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header-content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top:   105px;
    margin-left: -295px;
    text-align: center;
    width: 300;
    height: 300px;
    transition: all 1000ms;
}

.header-content.logo {
    height: 100px;
    width:  100x;
    
    

}

.text {
   line-height: 1,7;
   margin-top: 5rem;
    
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;

}

.container {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 4 rem 1 rem;
}
.text-center {
    text-align: center;
    margin: auto;
   
}

.services {
    font-size: 10rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1);
    grid-gap: 20px;
   
}


.bg-light {
    background: #ffffff;
    color: #333333;
}
.bg-dark {
    background: #ffffff;
}

.services {
    padding: 2rem;
}

.footer-content {
    padding: 1rem;
    text-align: center;

}

@media(max-width: 560px) {
    .header::after {
        height: 80vh;
    }
    .header-content {
        top: 5%;
        margin-top: 5px;
    }
    .header-content-logo {
        height: 100px;
        width: 100px;  
         

    }
    .header-content.text {
      display: none;
    }
    .grid-3,.grid-2 {
        grid-template-columns: 1fr; 
    }
    .services {
        padding: 10rem;
    }

    
}
 @media(max-height: 500px) {
      .header-content.text {
         display: none;
     }
     .header-content {
         top: 0;
     }
 }

    
    



    


